.boardButton {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;

}

.playerBoardPlaceHolder {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.board {
  float:left;
  border-collapse: collapse; 
  border-spacing: 0;
  padding: 0px; 
  margin: auto 20px; 
  border: 2px solid #181818;
  table-layout:fixed;
  width:480px;
  height:480px;
  margin-bottom: 30px;
  margin-top:30px;
}

.board tr td { 
  width: 60px; 
  height: 60px;
  overflow:visible;
  border: 1px solid #181818;

}

.boardButton:hover {
  background:black;
  color:black;
}

.hit {
  background: red;
}

.missed {
  background: blue;
}

.selected {
  background: red;
}

