body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }

  button {
      width: 100%;
      height: 100%;
  }

  #logo {
    width: 500px;
    height: auto;
    display:inline-block;
  }

  table { 
    border-collapse: collapse; 
    border-spacing: 0;
  }

  #playerBoard {
    float: left;
  }

  #opponentBoard {
    float: left;
  }

  #shipTable {
    clear: both;
  }
  
  .board { 
    padding: 0px; 
    margin: auto 50px; 
    border: 2px solid #181818;
    table-layout:fixed;
    width:480px;
    height:480px;
  }
  
  .board tr td { 
    width: 60px; 
    height: 60px;
    border: 1px solid #181818;
    overflow:visible;
  }

  button:hover {
    background:black;
    color:black;
  }

  /* button:disabled {
    background: blue;
  } */

  .ship {
    z-index: -1;
  }

  button:active {
    background: grey;
  }

  footer {
    clear: both;
  }

  .playerBoardButton {
    opacity: 0;
  }

  .hit {
    background: red;
  }

  .missed {
    background: blue;
  }