.boardButton {
    width: 100%;
    height: 100%;
}

.playerBoardPlaceHolder {
  width: 100%;
  height: 100%;
  opacity: 0;
}

table { 
    border-collapse: collapse; 
    border-spacing: 0;
  }

  #playerBoard {
    float: left;
  }

  #opponentBoard {
    float: left;
  }

  .board { 
    padding: 0px; 
    margin: auto 50px; 
    border: 2px solid #181818;
    table-layout:fixed;
    width:480px;
    height:480px;
  }
  
  .board tr td { 
    width: 60px; 
    height: 60px;
    border: 1px solid #181818;
    overflow:visible;
  }

  .boardButton:hover {
    background:black;
    color:black;
  }

  .hit {
    background: red;
  }

  .missed {
    background: blue;
  }

  .selected {
    background: red;
  }