@import 'style.css';
@import 'game_board.css';

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#logo {
  width: 500px;
  height: auto;
  margin-bottom: 30px;
} 

#shipTable {
  clear: both;
}  

.ship {
  z-index: -1;
  background-color: black;
}

.boardButton:active {
  background: grey;
}

footer {
  clear: both;
}  

.waiting {
  font-size: 50pt;
  background-color: white;
  margin-bottom: 30px;
}

  
