@import 'style.css';

h1 {
    font-size: 200%;
    top: 100px;
    left: 50px;
    color: black;
}

#left {
    float: left;
    width: 50%;
    height:400px;
    background-color: #00FFFF;
}
#stats{
    margin:10px;
}

#right {
    float: left;
    width: 50%;
    height:400px;
    background-color: #AAA;
}
#right-tab{
    margin: 10px
}
button {
    color: #fff;
    bottom: 100px;
    right: 250px;
    font-size: 200%;
    border: 5px;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

button:hover {
    background-color: red;
    transition: blink-animation 1s ease;
}
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }


