body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.head-container {
  text-align: center;
}

.head-square {
  display: inline-block;
}

.standardButton {
  color: #fff;
  background-color: grey;
  font-size: 200%;
  border: 5px;
  padding: 30px;
  border-radius: 20px;
}

.standardButton:hover {
  background-color: red;
}