@import 'queries.css';

#warning {
  font-size: 30pt;
  color: red;
  display:none;
}
#logo {
  width: 350px;
  height: 100;
  margin-bottom: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top:5px;
}
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 5px;
}

a {
  color: #00B7FF;
}
.head-container {
  text-align: center;
}

.head-square {
  display: inline-block;
}

.standardButton {
  color: #fff;
  background-color: grey;
  font-size: 200%;
  border: 5px;
  padding: 30px;
  border-radius: 20px;
  -webkit-transition: background-color 2s; 
  -moz-transition: background-color 2s; 
  -ms-transition: background-color 2s; 
  -o-transition: background-color 2s; 
  transition: background-color 2s;  
}

.standardButton:hover {
  background-color: red;
}
