<!doctype html>
<html>
  <head>
    <title>Splash Screen</title>
    <link rel="stylesheet" href="stylesheets/splash.css">
  </head>
  <body>
    <main>
    <section id="top">
      <div class ="head-container">
        <div class="head-square" id="logo">
          <img src="images/LogoBBB.png" alt="Game logo" height="100" width="350">
          <h1>boatsboatsboats</h1>
          <form action = "./game">
            <button type="submit" id="start_game_button" class="splash_button" >start game!</button>
          </form>
        </div>
      </div>
  </section>

  <section id="left">
    <div id="left-tab">
      <div>
        <div id="stats">
          <h3><%= gamesInitialized %> games</h3>
          <h3><%= visits %> visits</h3>
        </div>
      </div>
    </div>
  </section>
  
  <section id="right">
    <div id="right-tab">
      <h2> Welcome to Boatsboatsboats </h2>
      <p> The number one online battleship game out there!</p>
      <p>How to play:</p>
      <p>First, drag your ships into your playing field. After placing all ships, press: "Ready". 
        Whenever it is your turn to shoot, guess where his ships might be. 
        The first one to sank all the boats of his opponent, wins!</p>
    </div>
  </section>
</main>
  </body>
</html>
