<!doctype html>
<html>
  <head>
    <title>Splash Screen</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main>
    <section id="top">
      <div id="logotitle">
        <img src="logoBBB.png" alt="Game logo" height="100" width="350">
        <h1>boatsboatsboats</h1>
      </div>
  </section>
  <section id="left">
    <div id="left-tab">
      <div class="button_list"><button type="button" id="start_game_button" class="splash_button">start game!</button></div>
      <div class="button_list"><button type="button" id="tutorial_button" class="splash_button">tutorial</button></div>
      <h3><%= gamesInitialized %> games</h3>
    </div>
  </section>
  <section id="top">
    <div id="right-tab">
      <h2> Welcome to Boatsboatsboats </h2>
      <p> The number one online battleship game out there!</p>
    </div>
  </section>
</main>
  </body>
</html>
